* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(28, 44, 64);
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}
input,
textarea,
select {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
}
a {
    color: rgb(28, 44, 64);
}
a:hover,
.submit:hover {
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 15px;
    font-family: Inter, Arial;
    font-weight: 500;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0px auto;
    max-width: 1440px;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Black.woff2") format("woff2"),
        url("../fonts/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
        url("../fonts/Inter-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
        url("../fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Light.woff2") format("woff2"),
        url("../fonts/Inter-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Thin.woff2") format("woff2"),
        url("../fonts/Inter-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Medium.woff2") format("woff2"),
        url("../fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"),
        url("../fonts/Inter-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
        url("../fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
#main {
    background-image: url("../images/Vector 279.png");
    height: 100vh;
    background-size: cover;
    z-index: 0;
    position: relative;
}
#main::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    height: 138%;
    width: 100%;
    background-image: url("../images/Subtract.png");
    background-size: cover;
    opacity: 1;
}
#main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
#main header div.left h1 {
}
#main header div.left h1 a {
    display: inline-block;
    width: 60%;
}
#main header div.left h1 a img {
    display: block;
    width: 100%;
}
#main header div.middle {
    width: 48%;
}
#main header div.middle ul {
    display: flex;
}
#main header div.middle ul li {
    margin-right: 28px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
#main header div.middle ul li:last-child {
    margin-right: 0px;
}
#main header div.right ul li {
    text-align: center;
}
#main header div.middle ul li a {
    font-size: 15px;
    color: rgb(255, 255, 255);
}
#main header div.right ul li a.button {
    font-size: 18px;
    padding: 12px 34px;
    display: inline-block;
    border-radius: 35px;
    background: linear-gradient(
        32deg,
        rgb(8, 89, 16) 0%,
        rgb(75, 153, 81) 0%,
        rgb(132, 194, 137) 54%,
        rgb(220, 255, 225) 100%
    );
    color: rgb(255, 255, 255);
}
#main div.container {
    position: absolute;
    z-index: 2;
    padding: 75px 28px;
}
#main div.container h1 {
    font-size: 46px;
    font-weight: 600;
    width: 55%;
    color: rgb(255, 255, 255);
}
#main div.container p {
    margin: 30px 0px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    width: 66%;
    font-size: 14px;
}
#main div.container a.button {
    margin-top: 20px;
    font-size: 13px;
    padding: 10px 28px;
    border-radius: 35px;
    display: inline-block;
    background: linear-gradient(
        32deg,
        rgb(8, 89, 16) 0%,
        rgb(75, 153, 81) 0%,
        rgb(132, 194, 137) 54%,
        rgb(220, 255, 225) 100%
    );
    color: rgb(255, 255, 255);
}
#about {
    padding: 143px 0px;
    background: url("../images/Vector 283.png") -78px center / 60% no-repeat;
}
#about div.content {
    padding: 18px 0px;
}
#about div.content h2 {
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 20px;
    padding-top: 50px;
}
#about div.content p.one {
    font-size: 15px;
    width: 50%;
    margin-bottom: 10px;
}
#about div.content p {
    font-size: 14px;
    width: 53%;
    margin-bottom: 27px;
    font-weight: 500;
    margin-top: 15px;
}
#our_services section.top {
}
#our_services section.top h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    width: 27%;
    margin: 0px auto;
    padding-bottom: 19px;
}
#our_services section.top div.services ul {
    display: flex;
    width: 80%;
    margin: 0px auto;
}
#our_services section.top div.services ul li {
    text-align: center;
}
#our_services section.top div.services ul li div.frame {
    width: 143px;
    margin: 0px auto;
    position: relative;
}
#our_services section.top div.services ul li div.frame div.imgFrame {
    width: 110px;
}
#our_services section.top div.services ul li div.frame div.imgFrame img {
    width: 100%;
    display: block;
}
#our_services section.top div.services ul li div.picture {
    position: absolute;
    left: 35px;
    top: 35px;
    width: 38px;
}
#our_services section.top div.services ul li div.picture img {
    display: block;
    width: 100%;
}
#our_services section.top div.services ul li h3 {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    margin: 16px 0px;
}
#our_services section.top div.services ul li p {
    width: 89%;
    margin: 0px auto;
    font-size: 14px;
    font-weight: 500;
}
#bottom {
    background: url("../images/Vector 284.png") center bottom / cover no-repeat;
    height: 746px;
}
#bottom section.wrapper {
}
#bottom section.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 185px;
}
#bottom section.content div.left {
    width: 40%;
}
#bottom section.content div.left div.img img {
    display: block;
    width: 100%;
    border-radius: 59% 41% 47% 53% / 49% 56% 44% 51%;
}
#bottom section.content div.right {
    width: 61%;
    margin-left: 32px;
}
#bottom section.content div.right h2 {
    width: 65%;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
}
#bottom section.content div.right p.one {
}
#bottom section.content div.right p {
    font-size: 13px;
    width: 67%;
    margin-bottom: 15px;
    font-weight: 500;
}
#bottom section.content div.right a.button {
    font-size: 13px;
    padding: 6px 17px;
    border-radius: 35px;
    display: inline-block;
    background: linear-gradient(
        32deg,
        rgb(124, 211, 132) 0%,
        rgb(75, 153, 81) 0%,
        rgb(132, 194, 137) 54%,
        rgb(220, 255, 225) 100%
    );
    color: rgb(255, 255, 255);
}
#consulting {
}

#consulting section.wrapper {
}

#consulting section.content {
    display: flex;
    justify-content: space-between;
}

#consulting section.content div.left {
}

#consulting section.content div.left h2 {
    font-size: 30px;
    margin: 0 auto;
    margin-top: 120px;
    font-weight: 600;
}
#consulting {
    padding: 80px 0px;
}
#consulting section.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#consulting section.content div.left {
    width: 45%;
}
#consulting section.content div.left h2 {
    font-size: 41px;
    font-weight: 600;
    width: 433px;
    margin: 0 auto;
}
#consulting section.content div.right {
    display: flex;
    align-items: center;
    width: 60%;
}
#consulting section.content div.right div.one {
    width: 32%;
    text-align: center;
}
#consulting section.content div.right div.one div.consulting {
    width: 50px;
    margin: 0px auto 10px;
}
#consulting section.content div.right div.one div.consulting img {
    display: block;
    width: 100%;
}
#consulting section.content div.right div.one h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

#consulting section.content div.right div.two {
    width: 32%;
    text-align: center;
}
#consulting section.content div.right div.two div.top {
    margin-bottom: 90px;
}
#consulting section.content div.right div.two div.top div.consulting {
    width: 50px;
    margin: 0px auto 10px;
}
#consulting section.content div.right div.two div.top div.consulting img {
    display: block;
    width: 100%;
}
#consulting section.content div.right div.two div.top h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
#consulting section.content div.right div.two div.top p {
}
#consulting section.content div.right div.two div.bottom {
}
#consulting section.content div.right div.two div.bottom div.consulting {
    width: 50px;
    margin: 0px auto 10px;
}
#consulting section.content div.right div.two div.bottom div.consulting img {
    display: block;
    width: 100%;
}
#consulting section.content div.right div.two div.bottom h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

