* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #1c2c40;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}
input,
textarea,
select {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    color: #1c2c40;
}
a:hover,
.submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Inter", Arial;
    font-weight: 400;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Black.woff2") format("woff2"),
        url("../fonts/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
        url("../fonts/Inter-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
        url("../fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Light.woff2") format("woff2"),
        url("../fonts/Inter-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Thin.woff2") format("woff2"),
        url("../fonts/Inter-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff2") format("woff2"),
        url("../fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"),
        url("../fonts/Inter-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
        url("../fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* ====================== */
#main {
    background-image: url(../images/Vector\ 279.png);
    height: 100vh;
    background-size: cover;
    z-index: 0;
    position: relative;
}
#main::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    height: 100vh;
    width: 100%;
    background-image: url("../images/Subtract.png");
    background-size: cover;
    opacity: 2;
}
#main section.wrapper {
}

#main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

#main header div.left {
}

#main header div.left h1 {
}

#main header div.left h1 a {
    display: inline-block;
    width: 50%;
}

#main header div.left h1 a img {
    display: block;
    width: 100%;
}

#main header div.middle {
    width: 48%;
}

#main header div.middle ul {
    display: flex;
}

#main header div.middle ul li {
    margin-right: 60px;
    font-weight: 300;
    color: #fff;
}
#main header div.middle ul li:last-child {
    margin-right: 0;
}

#main header div.right ul li {
    text-align: center;
}
#main header div.middle ul li a {
    font-size: 15px;
    color: rgb(255, 255, 255);
}
#main header div.right ul li a.button {
    color: #fff;
    font-size: 18px;
    padding: 12px 34px;
    display: inline-block;
    border-radius: 35px;
    background: linear-gradient(
        32deg,
        rgb(8, 89, 16) 0%,
        rgb(75, 153, 81) 0%,
        rgb(132, 194, 137) 54%,
        rgb(220, 255, 225) 100%
    );
    color: rgb(255, 255, 255);
}
#main div.container {
    position: absolute;
    z-index: 2;
    margin-top: 90px;
}
#main div.container h1 {
    font-size: 55px;
    font-weight: bold;
    width: 55%;
    color: rgb(255, 255, 255);
}
#main div.container p {
    font-weight: 300;
    color: #fff;
}

#main div.container a.button {
    margin-top: 20px;
    font-size: 13px;
    padding: 14px 30px;
    border-radius: 35px;
    display: inline-block;
    background: linear-gradient(
        32deg,
        rgb(8, 89, 16) 0%,
        rgb(75, 153, 81) 0%,
        rgb(132, 194, 137) 54%,
        rgb(220, 255, 225) 100%
    );
    color: rgb(255, 255, 255);
}
